<%= form_for @event, html: { multipart: true} do |f| %>

 <div class=“form-group”>
    <label>Event name</label>
    <%= f.text_field :name, placeholder: "Event name", class: "form-control" %>
  </div>
  <br>
  <br>

 <div class=“form-group”>
    <label>Description</label>
    <%= f.text_area :description, rows: 5, placeholder: "Say something about your event", class: "form-control" %>
  </div>
  <br>
  <br>

 <div class=“form-group”>
    <label>Location</label>
    <%= f.text_field :location, placeholder: "Address", class: "form-control" %>
  </div>
  <br>
  <br>

 <div class=“form-group”>
    <label>Capacity</label>
    <%= f.number_field :capacity, placeholder: "Capacity", class: "form-control" %>
  </div>
  <br>
  <br>

 <div class=“form-group”>
    <label>Price</label>
    <div class=“input-group”>
      <div class=“input-group-addon”>€</div>
      <%= f.number_field :price, placeholder: 'eg. 0', class: "form-control" %>
    </div>
  </div>
  <br>
  <hr>

 <label>Amenities</label>

 <div class=“form-group”>
    <%= f.check_box :includes_food %> Food
  </div>
  <br>
  <div class=“form-group”>
    <%= f.check_box :includes_drinks %> Drinks
  </div>
<br>
<hr>
<br>
  <label>Categories</label>

 <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
   <div class="form-group">
     <%= b.check_box(class: "check_box") %> <%= b.object.name %>
   </div>
 <% end %>
 <br>
 <hr>

 <div class="form-group">
   <span class="btn btn-primary">
     Upload Photos
     <%= file_field_tag "images[]", type: :file, multiple: true %>
   </span>
 </div>
 <div id="photos">
  <%= render 'photos/list' %>
</div>
 <br>
 <hr>

 <label>Publish this event?</label>

 <div class=“form-group”>
    <%= f.check_box :active %> Active
  </div>

 <div class="actions">
   <%= f.submit "Save", class: "btn btn-primary" %>
 </div>
 <br>
 <hr>

 <label>Photos</label>



 <% end %>
